:root{
    --dark-grey: rgb(32, 32, 32);
    --light-grey: rgb(64, 64, 64);
    --soft-white: rgb(230, 230, 230);
    --kalebs-blue: rgb(104, 104, 255);
}
* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: var(--dark-grey);
    color: var(--soft-white);
    
    padding: 0px;
    margin: 0px;
}
a {
    color: var(--kalebs-blue);
}
/*
    Styling of the top navigation bar.
*/
nav{
    overflow: hidden;
}
nav a, nav button{
    margin: 0px;
    font-size: 1em;
    padding: 10px;
    float: left;
    text-align: center;
    background-color: var(--light-grey);
    font-weight: bolder;
    color: var(--kalebs-blue);
    text-decoration: none;
}
nav :hover{
    background-color: black;
}
nav *#active{
    background-color: var(--kalebs-blue);
    color: black;
}
nav #light-mode{
    float: right;
    border-width: 0px;
}
/*
    Styling of the footer
*/
footer{
    background-color: var(--light-grey);
}
footer h1{
    font-size: 1em;
    font-weight: bolder;
    padding: 15px;
}
footer li{
    font-size: 0.8em;
    list-style-type: none;
    padding-bottom: 15px;
}
footer ul{
    display: inline-block;
    margin: 15px;
}
/*
    Styling of content.
*/
#content {
    margin: 15px;
}