* {
    background-color: rgb(32, 32, 32);
    color: rgb(230, 230, 230);

    font-family: Arial, Helvetica, sans-serif;
}
body {
    padding: 0px;
    margin: 0px;
}
a {
    color: rgb(104, 104, 255);
}
div#top-nav {
    overflow: hidden;
}
div#top-nav a {
    margin: 0px;
    padding: 10px;
    float: left;
    text-align: center;
    background-color: rgb(64, 64, 64);
    font-weight: bolder;
    /* color: rgb(104, 104, 255); */
    text-decoration: none;
}
div#top-nav a:hover{
    background-color: black;
}
div#top-nav a:active{
    background-color:rgb(104, 104, 255);
    color: black;
}